body {
    background-color: rgb(226,128,218);
    font-family: sans-serif;
}

.button {
    display: block;
}

.box {
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(21,253,253);
    display: inline-block;
}

p {
    color: white;
    font-size: 4em;
    text-align: center;
    margin-top: 25px;
    user-select: none;
}